.buttonBack {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    width: auto;
    font-size: 12px;
}

a {
    position: relative;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: #3d524c;
    font-size: 30px;
}

a:hover {
    color: #f4f0e0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f0e0;
    text-align: left;
    margin: 0;
    padding: 0;
}

.header {
    padding: 5px;
    background-color: #c6cd85;
    display: block;
    width: 100vw;
}

h1 {
    text-align: center;
    font-family: 'contralto-big', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #3d524c;
}

p {
    font-family: 'ff-zwo-web-pro', sans-serif;
    font-weight: 100;
    color: #333;
    text-align: left;
    margin: 30px;
    margin-top: 40px;
    font-size: 20px;
}

.video-container {
    position: relative;
    width: 640px;
    height: 360px;
    margin: 0 auto;
  }
  
  #myVideo {
    width: 100%;
    height: 100%;
  }

  
  #toggleButton {
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background: rgba(119, 119, 119, 0.8);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20%;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
  
  .hide {
    opacity: 0;
    pointer-events: none;
  }
    

.video1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 60px;
    z-index: 1;
}

#myAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
    width: 640px;
    height: 360px;
    margin: 0 auto;
    margin-top: 100px;
}

#myVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}
  